# https://aka.cfx.re/server-commands

# https://docs.fivem.net/docs/server-manual/setting-up-a-server-vanilla/#servercfg
{{serverEndpoints}}

# https://portal.cfx.re/servers/registration-keys
sv_licenseKey "{{svLicense}}"

# https://portal.cfx.re/subscriptions/element-club
sv_maxclients {{maxClients}}

# https://docs.fivem.net/docs/server-manual/server-commands/#sv_enforcegamebuild-build
sv_enforceGameBuild 3751 # mp2025_02 - A Safehouse in the Hills

# Identity
sv_hostname "{{serverName}}"

sets sv_projectName "{{serverName}}"

sets sv_projectDesc "Built with {{recipeName}}! {{recipeDescription}}"

sets tags "default, deployer, {{recipeName}}"

sets locale "root-AQ"

load_server_icon "server_icon.png"

# Permissions
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

# Admins
{{addPrincipalsMaster}}

# Resources
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

# Chat
set resources_useSystemChat true
ensure chat

# vMenu
exec @vMenu/config/permissions.cfg
ensure vMenu